<h1>FinPulse Dashboard</h1>

<div class="container">
  <div class="card income">
    <h3>Total Income</h3>
    <div class="amount">₹ <%= summary.totalIncome %></div>
  </div>

  <div class="card expense">
    <h3>Total Expense</h3>
    <div class="amount">₹ <%= summary.totalExpense %></div>
  </div>

  <div class="card profit">
    <h3>Profit</h3>
    <div class="amount">₹ <%= summary.profit %></div>
  </div>
</div>
